body {
  margin: 0;
  padding: 0;
  background-color: #152347;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.heading {
  color: #fff922;
  font-size: 48px;
  font-family: "Space Mono", monospace;
}
.text {
  color: #fff;
  font-size: 21px;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.facebook,
.twitter {
  width: 100px;
  height: 100px;
  background-color: #a11ec6;
  position: center;
  z-index: 1;
}

.facebook {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.twitter {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#bottom-footer {
  background: #000;
  color: #fff;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.header {
  overflow: hidden;
  background-color:#152347;
  padding: 20px 10px;
}

.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
